@charset "UTF-8";
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Pretendard-Thin.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Thin.eot") format("embedded-opentype"), url("../fonts/Pretendard-Thin.woff2") format("woff2"), url("../fonts/Pretendard-Thin.woff") format("woff"), url("../fonts/Pretendard-Thin.ttf") format("truetype"), url("../fonts/Pretendard-Thin.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Pretendard-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-ExtraLight.eot") format("embedded-opentype"), url("../fonts/Pretendard-ExtraLight.woff2") format("woff2"), url("../fonts/Pretendard-ExtraLight.woff") format("woff"), url("../fonts/Pretendard-ExtraLight.ttf") format("truetype"), url("../fonts/Pretendard-ExtraLight.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Pretendard-Light.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Light.eot") format("embedded-opentype"), url("../fonts/Pretendard-Light.woff2") format("woff2"), url("../fonts/Pretendard-Light.woff") format("woff"), url("../fonts/Pretendard-Light.ttf") format("truetype"), url("../fonts/Pretendard-Light.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Regular.eot") format("embedded-opentype"), url("../fonts/Pretendard-Regular.woff2") format("woff2"), url("../fonts/Pretendard-Regular.woff") format("woff"), url("../fonts/Pretendard-Regular.ttf") format("truetype"), url("../fonts/Pretendard-Regular.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Medium.eot") format("embedded-opentype"), url("../fonts/Pretendard-Medium.woff2") format("woff2"), url("../fonts/Pretendard-Medium.woff") format("woff"), url("../fonts/Pretendard-Medium.ttf") format("truetype"), url("../fonts/Pretendard-Medium.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Pretendard-SemiBold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-SemiBold.eot") format("embedded-opentype"), url("../fonts/Pretendard-SemiBold.woff2") format("woff2"), url("../fonts/Pretendard-SemiBold.woff") format("woff"), url("../fonts/Pretendard-SemiBold.ttf") format("truetype"), url("../fonts/Pretendard-SemiBold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Bold.eot") format("embedded-opentype"), url("../fonts/Pretendard-Bold.woff2") format("woff2"), url("../fonts/Pretendard-Bold.woff") format("woff"), url("../fonts/Pretendard-Bold.ttf") format("truetype"), url("../fonts/Pretendard-Bold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Pretendard-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-ExtraBold.eot") format("embedded-opentype"), url("../fonts/Pretendard-ExtraBold.woff2") format("woff2"), url("../fonts/Pretendard-ExtraBold.woff") format("woff"), url("../fonts/Pretendard-ExtraBold.ttf") format("truetype"), url("../fonts/Pretendard-ExtraBold.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "pretendard";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Pretendard-Black.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Pretendard-Black.eot") format("embedded-opentype"), url("../fonts/Pretendard-Black.woff2") format("woff2"), url("../fonts/Pretendard-Black.woff") format("woff"), url("../fonts/Pretendard-Black.ttf") format("truetype"), url("../fonts/Pretendard-Black.svg") format("svg");
  /* Legacy iOS */
}
/********* reset.css **********/
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 150%;
  font-family: "pretendard", "Noto Sans", "sans-serif";
  letter-spacing: -0.03em;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

ul, ol, li {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

p {
  max-height: 9999px;
}

address {
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

caption, legend {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
}

.hide {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  position: absolute;
  left: 0;
  right: 0;
}

.clear {
  clear: both;
  display: block;
  content: "";
  overflow: hidden;
}

.br {
  display: block;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

select::-ms-expand {
  display: none;
}

input::-ms-check {
  display: none;
}

form {
  display: block;
  width: 100%;
}

input, select, textarea {
  padding: 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: 0;
  font-family: inherit;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mr40 {
  margin-right: 40px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb120 {
  margin-bottom: 120px;
}

.pt40 {
  padding-top: 40px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bo_l {
  border-left: 1px solid #999999;
}

.bo_r {
  border-right: 1px solid #999999;
}

.bo_t_blue {
  border-top: 2px solid #7aa0ff !important;
}

/*clear*/
/*요소중앙정렬*/
/*아이템 정렬*/
body {
  line-height: 150%;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

header {
  width: 100%;
  height: 88px;
  background: #4661DC;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container h1 {
  font-size: 0.875em;
  font-weight: 600;
  color: #fff;
  min-width: 178px;
}
header .container h1 img {
  margin-right: 24px;
}
header .container h1 span {
  opacity: 0.5;
}
header .container .nav_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
header .container .nav_wrap nav {
  padding: 0 40px;
  height: 100%;
  position: relative;
}
header .container .nav_wrap nav:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #000;
  opacity: 0.1;
}
header .container .nav_wrap nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
header .container .nav_wrap nav ul li a {
  font-weight: 600;
  color: #fff;
  padding: 20px 24px;
  opacity: 0.5;
}
header .container .nav_wrap nav ul li a.active {
  opacity: 1;
  position: relative;
}
header .container .nav_wrap nav ul li a.active:after {
  content: "";
  width: 8px;
  height: 8px;
  background: url(../images/dot.png);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 7px;
}
header .container .nav_wrap .util {
  margin-left: 40px;
}
header .container .nav_wrap .util a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 400;
  background: url(../images/myinfo_ico.png) no-repeat;
  background-size: 32px 32px;
  padding-left: 48px;
  height: 32px;
}
header .container .nav_wrap .util a button {
  margin-left: 16px;
  width: 12px;
  height: 7px;
  background: url(../images/down.png);
}

.adm_menu_wrap {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
}
.adm_menu_wrap .container ul {
  height: 100%;
  padding: 48px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(129px, 1fr));
  grid-gap: 10px;
}
.adm_menu_wrap .container ul li {
  text-align: center;
}
.adm_menu_wrap .container ul li a {
  width: 129px;
  height: 129px;
  border: 2px solid #EBEEF0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 16px;
  margin: auto auto 20px;
}
.adm_menu_wrap .container ul li a:hover {
  border: 2px solid #6DA2FF;
}
.adm_menu_wrap .container ul li a.on {
  border: 2px solid #6DA2FF;
}
.adm_menu_wrap .container ul li a div {
  width: 64px;
  height: 64px;
  background: #eee;
}

footer {
  background: #ECEFF2;
}
footer .container {
  padding: 92px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer .container h1 {
  opacity: 0.2;
  margin-right: 24px;
}
footer .container p {
  opacity: 0.5;
}

@media screen and (max-width: 1260px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1080px) {
  header .container .nav_wrap nav ul {
    display: none;
  }
  header .container .nav_wrap nav:after {
    display: none;
  }
}
.wrapper {
  height: 100vh;
}
.wrapper.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .info_wrap {
  width: 50%;
  height: 100%;
  background: #4b61c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5%;
  padding-left: 25px;
}
.wrapper .info_wrap > div {
  max-width: 266px;
  width: 100%;
}
.wrapper .info_wrap > div span {
  display: inline-block;
  color: #a7cfff;
  padding: 4px 20px;
  border: 1px solid #a7cfff;
  border-radius: 32px;
  margin-bottom: 12px;
  line-height: 150%;
}
.wrapper .info_wrap > div h2 {
  font-size: 2.5em;
  line-height: 150%;
  color: #fff;
  margin-bottom: 6px;
}
.wrapper .info_wrap > div p {
  font-size: 0.875em;
  line-height: 150%;
  color: #fff;
  word-break: keep-all;
}
.wrapper .info_wrap > div p.cp {
  margin-top: 187px;
  line-height: 17px;
  opacity: 0.5;
}
.wrapper .info_wrap > div h1 {
  margin-top: 78px;
  text-align: right;
}
.wrapper .info_wrap > div h1 img {
  width: 200px;
}
.wrapper .input_wrap {
  width: 50%;
  min-width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
  padding-right: 25px;
}
.wrapper .input_wrap .login {
  width: 100%;
  max-width: 400px;
  padding-bottom: 15%;
}
.wrapper .input_wrap .login p {
  font-size: 2.5em;
  margin-bottom: 32px;
  line-height: 150%;
}
.wrapper .input_wrap .login .loginform_wrap form {
  position: relative;
}
.wrapper .input_wrap .login .loginform_wrap form input {
  border: 1px solid #dde1e4;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  padding: 0 45px;
}
.wrapper .input_wrap .login .loginform_wrap form input:focus {
  outline: none;
  border: 1px solid #016FF3;
}
.wrapper .input_wrap .login .loginform_wrap form input:focus::-webkit-input-placeholder {
  color: #484B51;
}
.wrapper .input_wrap .login .loginform_wrap form input:focus::-moz-placeholder {
  color: #484B51;
}
.wrapper .input_wrap .login .loginform_wrap form input:focus:-ms-input-placeholder {
  color: #484B51;
}
.wrapper .input_wrap .login .loginform_wrap form input:focus::-ms-input-placeholder {
  color: #484B51;
}
.wrapper .input_wrap .login .loginform_wrap form input:focus::placeholder {
  color: #484B51;
}
.wrapper .input_wrap .login .loginform_wrap form input::-webkit-input-placeholder {
  font-weight: 500;
  color: #AAB0B8;
}
.wrapper .input_wrap .login .loginform_wrap form input::-moz-placeholder {
  font-weight: 500;
  color: #AAB0B8;
}
.wrapper .input_wrap .login .loginform_wrap form input:-ms-input-placeholder {
  font-weight: 500;
  color: #AAB0B8;
}
.wrapper .input_wrap .login .loginform_wrap form input::-ms-input-placeholder {
  font-weight: 500;
  color: #AAB0B8;
}
.wrapper .input_wrap .login .loginform_wrap form input::placeholder {
  font-weight: 500;
  color: #AAB0B8;
}
.wrapper .input_wrap .login .loginform_wrap form input[type=text] {
  background: url(../images/email_ico.png) no-repeat;
  background-position: 16px center;
  border-radius: 4px 4px 0 0;
}
.wrapper .input_wrap .login .loginform_wrap form input[type=text]:focus {
  background: url(../images/email_ico_on.png) no-repeat;
  background-position: 16px center;
  z-index: 5;
}
.wrapper .input_wrap .login .loginform_wrap form input[type=password] {
  margin-top: -1px;
  background: url(../images/password_ico.png) no-repeat;
  background-position: 16px center;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid transparent;
}
.wrapper .input_wrap .login .loginform_wrap form input[type=password]:focus {
  background: url(../images/password_ico_on.png) no-repeat;
  background-position: 16px center;
  border-top: 1px solid #016FF3;
}
.wrapper .input_wrap .login .loginform_wrap form input[type=button] {
  border: 1px solid transparent;
  cursor: pointer;
  background: #016ff3;
  margin-top: 24px;
  color: #fff;
}
.wrapper .input_wrap .login .loginform_wrap form .email_box:not(:valid) ~ .close-icon {
  display: none;
}
.wrapper .input_wrap .login .loginform_wrap form .pw_box:not(:valid) ~ .close-icon {
  display: none;
}
.wrapper .input_wrap .login .loginform_wrap form button {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
  padding: 2px;
  background: url(../images/close.png) no-repeat;
  cursor: pointer;
  border-radius: 50%;
}
.wrapper .input_wrap h3 {
  margin-top: 40px;
  text-align: right;
  font-size: 0.875em;
  font-weight: 400;
  color: #1D1F35;
  opacity: 0.6;
}

.contents .container h2 {
  padding: 48px 0;
  font-size: 2em;
  color: #26336D;
}

.form_wrap form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 56px;
}
.form_wrap form ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.form_wrap form ul li label {
  min-width: 35px;
  font-size: 1.25em;
  margin-right: 24px;
}
.form_wrap form ul li label span {
  color: #FF155B;
}
.form_wrap form ul li select {
  color: #000;
  width: 90%;
  border: 1px solid #C6CBD0;
  border-radius: 4px;
  height: 56px;
  background: url(../images/search_down.png) no-repeat 91% center;
  font-size: 1.125em;
}
.form_wrap form ul li select:focus {
  outline: none;
  border: 2px solid #6DA2FF;
}
.form_wrap form ul li select option {
  background: #fff;
}
.form_wrap form ul li input[type=text] {
  color: #000;
  height: 100%;
  font-size: 1.25em;
  border: 2px solid transparent;
  background: #F3F6FB;
  border-radius: 4px;
}
.form_wrap form ul li input[type=text]:focus {
  outline: none;
  border: 2px solid #6DA2FF;
}
.form_wrap form ul li input[type=text]::-webkit-input-placeholder {
  color: #484B51;
  font-size: 0.9em;
}
.form_wrap form ul li input[type=text]::-moz-placeholder {
  color: #484B51;
  font-size: 0.9em;
}
.form_wrap form ul li input[type=text]:-ms-input-placeholder {
  color: #484B51;
  font-size: 0.9em;
}
.form_wrap form ul li input[type=text]::-ms-input-placeholder {
  color: #484B51;
  font-size: 0.9em;
}
.form_wrap form ul li input[type=text]::placeholder {
  color: #484B51;
  font-size: 0.9em;
}
.form_wrap form ul li:not(:last-child) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  position: relative;
}
.form_wrap form ul li:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}
.form_wrap form ul li .search_bar {
  height: 56px;
  width: 89%;
  position: relative;
}
.form_wrap form ul li .search_bar input {
  height: 100%;
}
.form_wrap form ul li .search_bar button {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/search_ico.png) no-repeat;
  cursor: pointer;
}
.form_wrap.regi_wrap form.regi_form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form_wrap.regi_wrap form.regi_form ul li {
  height: 56px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-bottom: 24px;
}
.form_wrap.regi_wrap form.regi_form ul li.wid_50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}
.form_wrap.regi_wrap form.regi_form ul li label {
  min-width: 90px;
}
.form_wrap.regi_wrap form.regi_form ul li input[type=text] {
  color: #000;
  height: 100%;
  background: #F3F6FB;
  margin-right: 0;
  border-radius: 4px;
  width: calc(100% - 90px);
}
.form_wrap.regi_wrap form.regi_form ul li select {
  width: calc(100% - 90px);
  background: url(../images/search_down.png) no-repeat 95% center;
}

.fence_list_wrap {
  background: #ECEFF2;
}
.fence_list_wrap .container {
  position: relative;
}
.fence_list_wrap .container > ul {
  text-align: center;
  padding: 56px 0 48px;
}
.fence_list_wrap .container > ul > li {
  background: #fff;
  height: 80px;
  font-size: 1em;
  font-weight: 600;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 2px solid transparent;
}
.fence_list_wrap .container > ul > li:nth-child(n+2):hover {
  border: 2px solid #4661DC;
}
.fence_list_wrap .container > ul > li > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
}
.fence_list_wrap .container > ul > li > ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #55626F;
}
.fence_list_wrap .container > ul > li > ul li:first-child {
  color: #4661DC;
}
.fence_list_wrap .container > ul > li > ul li:nth-child(4) {
  color: #17A400;
}
.fence_list_wrap .container > ul > li:first-child {
  background: #6F8294;
}
.fence_list_wrap .container > ul > li:first-child ul li {
  color: #fff;
}
.fence_list_wrap .container > ul > li:last-child {
  margin-bottom: 0;
}
.fence_list_wrap .container .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 32px;
}
.fence_list_wrap .container .pagination > a {
  width: 11px;
  height: 11px;
  display: inline-block;
  min-width: 11px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  opacity: 0.2;
}
.fence_list_wrap .container .pagination > a.first_page {
  background: url(../images/btn_first_page.png) no-repeat center center/contain;
  margin-right: 33px;
}
.fence_list_wrap .container .pagination > a.prev_page {
  background: url(../images/btn_prev_page.png) no-repeat center center/contain;
  margin-right: 30px;
}
.fence_list_wrap .container .pagination > a.next_page {
  background: url(../images/btn_next_page.png) no-repeat center center/contain;
  margin-left: 30px;
}
.fence_list_wrap .container .pagination > a.last_page {
  background: url(../images/btn_last_page.png) no-repeat center center/contain;
  margin-left: 33px;
}
.fence_list_wrap .container .pagination > a.on {
  opacity: 1;
}
.fence_list_wrap .container .pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fence_list_wrap .container .pagination ul > li {
  margin-right: 16px;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
}
.fence_list_wrap .container .pagination ul > li:last-child {
  margin-right: 0;
}
.fence_list_wrap .container .pagination ul > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #55626F;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875em;
}
.fence_list_wrap .container .pagination ul > li a.active {
  color: #fff;
  background: #4661DC;
  border-radius: 50%;
}
.fence_list_wrap .container .pagination ul > li:last-child {
  margin-right: 0;
}
.fence_list_wrap .container button.register_btn {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 136px;
  height: 58px;
  background: #4661DC;
  border-radius: 4px;
  font-weight: 500;
}
.fence_list_wrap .container button.register_btn span {
  font-size: 1.125em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fence_list_wrap .container button.register_btn span:before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/plus.png) no-repeat;
  padding-right: 16px;
}

.add_map {
  background: #ECEFF2;
}
.add_map .container {
  padding-top: 56px;
}
.add_map .container .map {
  width: 100%;
  height: 658px;
  background: #6F8294;
}
.add_map .container .btn_wrap {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.add_map .container .btn_wrap button {
  width: 136px;
  height: 58px;
  border-radius: 4px;
  font-weight: 500;
  background: #00C29E;
}
.add_map .container .btn_wrap button span {
  font-size: 1.125em;
  color: #fff;
}
.add_map .container .btn_wrap button.register {
  background: #4661DC;
  margin-left: 16px;
}
.add_map .container .btn_wrap button.register span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.add_map .container .btn_wrap button.register span:before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/plus.png) no-repeat;
  padding-right: 16px;
}

.fencemap_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fencemap_wrap .fence_map {
  width: 50%;
}
.fencemap_wrap .fence_modify {
  width: 50%;
}
.fencemap_wrap .fence_modify form ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-bottom: 10px;
}
.fencemap_wrap .fence_modify form ul li input {
  width: 75%;
  height: 56px;
}
.fencemap_wrap .fence_modify form ul li select {
  width: 75%;
}
.fencemap_wrap .fence_modify table td input {
  background: #f5f5f5;
}
.fencemap_wrap .fence_modify table td input#array {
  display: inline-block;
  width: 70%;
}
.fencemap_wrap .fence_modify .mo_re {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}